*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* navbar */

.nav-custom-bg{
    background-color: rgb(41, 40, 40);
   
}

/* navbar end */


/* main start */





/* main end */




/* footer start */





/* footer end */