{%extends 'index.html' %}
{%load static%}

{%block content%}

<div class="row p-0 justify-content-evenly align-items-center gap-2">
{%for product in products%}
<div class="card text-center" style="width: 18rem;">

  <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">

  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <p class="card-text">{{product.description}}</p>
    <p class="card-text">Price: {{product.price}} $</p>
    <div class="row">
        <p class="card-text text-uppercase col-12">category: {{product.category}}</p>
        <p class="card-text col-12">Stock: {{product.stock}}</p>
    </div>
    <div class="d-flex flex-column gap-1">
    <a href="#" class="btn" style="background-color: #fb641b; border: none; color: white;">Buy</a>
    <a href="#" class="btn btn-success">Cart</a>
    <a href="#" class="btn" style="background-color: #ff9f00; border: none; color: white;">Edit</a>
    <a href="#" class="btn btn-danger">Delete</a>
    </div>

  </div>
</div>

{%endfor%}

</div>

{%endblock%}