{%extends 'index.html' %}
{%load static%}

{%block content%}

{%if recent_edited%}
<div class="row text-black gap-1  justify-content-evenly text-center align-content-center" style="background-color: rgba(184, 181, 181, 0.534);">
<p class="h3">Recent view</p>
{%for product in recent_edited%}
  <div class="col-3">
    <img src="{{product.image.url}}" alt="" style="width: 80px; border: none; border-radius:5px;">
    <p class="h6">{{product.name}}</p>
  </div>
  {%endfor%}
</div>

{%endif%}


<div class="row py-3 justify-content-evenly align-items-center gap-2">
  {%for product in products%}
  <div class="card text-center col-3"  style="width: 20rem;">

    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">

    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text">Price: {{product.price}} $</p>
      <div class="row">
        <p class="card-text text-uppercase col-12">category: {{product.category}}</p>
        <p class="card-text col-12">Stock: {{product.stock}}</p>
      </div>
      <div class="row justify-content-around align-items-cente gap-2">
        <a href="#" class="btn  col-6" id="buy-btn">Buy</a>
        <a href="#" class="col-6 btn btn-primary">Cart</a>
        <a href="{%url 'editproducturl' product_id=product.id %}" class="col-6 btn" id="edit-btn">Edit</a>

        <a href="{%url 'deleteproducturl' product_id=product.id %}" type="submit" onclick="return confirm('Are you sure?')" class="btn btn-danger col-6">Delete</a>

      </div>

    </div>
  </div>

  {%endfor%}

</div>

{%endblock%}