{%extends 'index.html' %}
{%load static%}

{%block content%}

<div class="row p-0 justify-content-evenly align-items-center gap-2">
  {%for product in products%}
  <div class="card text-center" style="width: 18rem;">

    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">

    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text">Price: {{product.price}} $</p>
      <div class="row">
        <p class="card-text text-uppercase col-12">category: {{product.category}}</p>
        <p class="card-text col-12">Stock: {{product.stock}}</p>
      </div>
      <div class="row justify-content-around align-items-center">
        <a href="#" class="btn col-6"><Button class="btn btn-primary"
            style="background-color: #fb641b; border: none; color: white;">Buy</Button></a>
        <a href="#" class="col-6"><button class="btn btn-success">Cart</button></a>
        <a href="{%url 'editproducturl' product_id=product.id %}" class="col-6"><button class="btn btn-info"
            style="background-color: #1e5991af; border: none; color: white;">Edit</button></a>

    
          <a href="{%url 'deleteproducturl' product_id=product.id %}" class="col-6" ><Button type="submit" onclick="return confirm('Are you sure?')"
              class="btn btn-danger">Delete</Button></a>
       
      </div>

    </div>
  </div>

  {%endfor%}

</div>

{%endblock%}