{%extends 'index.html'%}


{%block content%}

<!-- signup form  start -->
<div class="row justify-content-center align-content-center">
    <form method="post" class="col-10 col-md-6">
        {% csrf_token %}


        <!-- user fields start  -->
        {% for fields in form %}
        <div data-mdb-input-init class="form-outline mb-4">
            {{fields}}
            <label class="form-label" for="form2Example1">{{fields.label_tag}}</label>
            {%if fields.errors%}
            <div class="alert alert-danger" role="alert">{{fields.errors}}</div>
            
            {%endif%}
        </div>
        {%endfor%}
        <div class="alert" id="custom_errors" role="alert"></div>

        <!-- user fields end  -->

        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init
            class="w-100 btn btn-primary btn-block mb-4">Sign
            up</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Is a member? <a href="{%url 'loginpage'%}">Login</a></p>
            <p>or sign up with:</p>
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                <i class="fa fa-facebook-f"></i>
            </button>

            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                <i class="fa fa-google"></i>
            </button>

            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                <i class="fa fa-twitter"></i>
            </button>

            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
                <i class="fa fa-github"></i>
            </button>
        </div>
    </form>

</div>

<!-- end form -->


{%endblock%}